/bower_components
/node_modules
npm-debug.log
/build
/typings
/renderer/js
/test/e2e/**/*.js
/test/e2e/story/*.png
/test/e2e/**/config.json
/test/unit/renderer/js/**/*.js
sub_account_tokens.sh
screenshot_*.png
*_log.json
