:root {
  --bg-color-dark: #192633;
  --color-dark-active: #e8eaeb;
  --color-dark-inactive: #c5c9cc;

  --bg-color-light: white;
  --color-light-active: #1da1f2;
  --color-light-inactive: #8899a6;
  --color-light-hover: #e8eaeb;

  --text-link-color: #2185d0;
  --color-weak-text-link: #888888;
  --bg-color-error: #ffc7c7;
  --color-error: #ff4f44;
  --bg-color-info: #e4fdda;
  --color-info: #209010;
  --sidemenu-width: 80px;
  --color-twitter: #1da1f2;
  --color-twitter-weak: #8dd1ff;
  --bg-color-panel-hover: #f5f8fa;
  --color-timeline-border: #e5e8ea;
  --bg-color-focused: #298cda;
  --color-focused-weak: rgba(255, 255, 255, 0.7);
  --bg-color-quote-focused: #79bcff;
}

html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#yourfukurou {
  width: 100%;
  height: 100%;
}

.spacer {
  flex: auto;
}

.app-root {
  width: 100%;
  height: 100%;
  display: flex;
}
.app-root__main {
  width: calc(100% - var(--sidemenu-width));
  flex: auto;
  display: flex;
  flex-direction: column;
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding-top: 32px; /* for title bar inset */
  height: 100%;
  width: var(--sidemenu-width);
  background-color: var(--bg-color-light);
  flex: none;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-right: solid 1px var(--color-timeline-border);
}
.side-menu > * {
  margin-top: 8px;
}
.side-menu__button {
  font-size: 30px;
  text-align: center;
  color: var(--color-light-inactive);
  cursor: pointer;
  margin-left: 22px;
}
.side-menu__button:hover {
  color: var(--color-light-hover);
}
.side-menu__button.side-menu__button_active {
  color: var(--color-light-active);
}
.side-menu__settings {
  font-size: 20px;
  color: var(--color-dark-inactive);
  cursor: pointer;
}
.side-menu__button-wrapper {
  display: flex;
  align-items: center;
}
.side-menu__button-indicator {
  margin: 0 6px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
  background-color: var(--color-twitter);
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

.avatar {
  cursor: pointer;
}
.avatar__inner {
  border-radius: calc(100% / 6);
  background-color: white;
}

.external-link {
  cursor: pointer;
  text-decoration: none;
}
.external-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.timeline {
  flex: auto;
  width: auto;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.tweet__body {
  display: flex;
  padding: 8px;
  border-bottom: solid 1px var(--color-timeline-border);
}
.tweet__body:hover {
  background-color: var(--bg-color-panel-hover);
}
.tweet__body.tweet__body_mention {
  color: #fc4d5d;
  background-color: #fff7f7;
}
.tweet__body.tweet__body_mention:hover {
  background-color: #ffe7e7;
}
.tweet__body.tweet__body_focused {
  color: white;
  background-color: var(--bg-color-focused);
}
.tweet__icon {
  flex: none;
  width: 56px;
  height: 56px;
}
.tweet__secondary {
  flex: none;
  width: 20%;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}
.tweet__secondary-screenname {
  flex: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text-link-color);
}
.tweet__secondary-screenname.tweet__secondary-screenname_focused {
  color: white;
}
.tweet__secondary-name {
  flex: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  font-weight: bold;
}
.tweet__secondary-retweetedby {
  flex: none;
  margin-top: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-weak-text-link);
  font-size: 0.8rem;
}
.tweet__secondary-retweetedby.tweet__secondary-retweetedby_focused {
  color: var(--color-focused-weak);
}
.tweet__primary {
  flex: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.tweet__primary-footer {
  flex: none;
  display: flex;
  margin-top: 4px;
  font-size: 0.7rem;
}
.tweet__primary-created-at {
  flex: none;
  color: var(--color-weak-text-link);
  text-align: right;
  cursor: pointer;
  text-decoration: none;
}
.tweet__primary-created-at:hover {
  text-decoration: underline;
}
.tweet__primary-created-at.tweet__primary-created-at_focused {
  color: var(--color-focused-weak);
}
.tweet__primary-conversation {
  flex: none;
  color: var(--color-weak-text-link);
}
.tweet__text {
  flex: auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.tweet__text-hashtag,
.tweet__text-mention,
.tweet__text-url {
  color: var(--text-link-color);
}
.tweet__text-hashtag.tweet__text-hashtag_focused,
.tweet__text-mention.tweet__text-mention_focused,
.tweet__text-url.tweet__text-url_focused {
  color: var(--color-focused-weak);
}
.tweet__quoted {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 4px 0 4px 4px;
  padding: 8px;
  border-radius: 8px;
}
.tweet__quoted.tweet__quoted_focused {
  background-color: var(--bg-color-quote-focused);
}
.tweet__quoted-icon {
  margin-right: 4px;
  cursor: pointer;
}
.tweet__quoted-header {
  color: #777777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.tweet__quoted-text {
  color: #555555;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.tweet__quoted-text-hashtag,
.tweet__quoted-text-mention,
.tweet__quoted-text-url {
  color: #808080;
}
.tweet__media {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.tweet__media-wrapper {
  margin: 4px;
}
.tweet__media-picture {
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
}

.tweet-actions {
  display: flex;
  color: var(--color-weak-text-link);
}
.tweet-actions.tweet-actions_focused {
  color: var(--color-focused-weak);
}
.tweet-actions > * {
  flex: auto;
  cursor: pointer;
  margin: 0 8px;
}
.tweet-actions__with-count {
  display: flex;
  min-width: 2em;
}
.tweet-actions__count {
  margin-left: 4px;
}
.tweet-actions__others {
  cursor: pointer;
}
.tweet-actions__others-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 4px;
}
.tweet-actions__others-menu-item {
  color: black;
  font-size: 0.8rem;
  cursor: default;
}
.tweet-actions__others-menu-item:hover {
  background-color: #e0e0ee;
}

.activity {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var(--color-timeline-border);
  padding: 8px;
}
.activity:hover {
  background-color: var(--bg-color-panel-hover);
}
.activity.activity_focused {
  color: white;
  background-color: var(--bg-color-focused);
}
.activity__header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}
.activity__user-icons {
  overflow: hidden;
  display: flex;
}
.activity__user-icons > * {
  margin: 0 4px;
  border: solid 1px var(--color-timeline-border);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.activity__created-at {
  font-weight: normal;
  overflow: hidden;
  color: var(--color-weak-text-link);
}
.activity__created-at.activity__created-at_focused {
  color: var(--color-focused-weak);
}
.activity__text {
  margin-top: 8px;
}
.activity__text > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.activity__icon {
  border-radius: 20%;
  margin-right: 4px;
  color: white;
}
.activity__icon.activity__icon_liked {
  background-color: #ff4f44;
  padding: 4px;
  font-size: 0.7em;
}
.activity__icon.activity__icon_retweeted {
  background-color: #19cf86;
  padding: 3px;
  font-size: 0.8em;
}

.message__body {
  width: calc(100% - var(--sidemenu-width));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 8px 0;
  z-index: 1;
  opacity: 0.7;
  margin-left: var(--sidemenu-width);
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
.message__body.message__body_error {
  color: var(--color-error);
  background-color: var(--bg-color-error);
}
.message__body.message__body_info {
  color: var(--color-info);
  background-color: var(--bg-color-info);
}
.message__icon {
  flex: none;
  margin: 0 8px;
}
.message__text {
  flex: auto;
  text-align: left;
}
.message__x-btn {
  flex: none;
  margin-right: 8px;
  font-size: 1rem;
}

.zigzag-separator__jagged {
  position: relative;
}
.zigzag-separator__jagged:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.zigzag-separator__top {
  width: 100%;
  height: 20px;
  background-color: #eeeeee
}
.zigzag-separator__middle {
  width: 100%;
  height: 5px;
  background-color: #cccccc;
}
.zigzag-separator__middle:before {
  background: linear-gradient(45deg, transparent 33.333%, #cccccc 33.333%, #cccccc 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #cccccc 33.333%, #cccccc 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}
.zigzag-separator__bottom {
  width: 100%;
  height: 10px;
  background: #eeeeee;
  border-bottom: solid 1px var(--color-timeline-border);
}
.zigzag-separator__bottom:before {
  background: linear-gradient(45deg, transparent 33.333%, #eeeeee 33.333%, #eeeeee 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #eeeeee 33.333%, #eeeeee 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}

.tweet-form {
  flex: none;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-color-light);
  padding: 8px;
  display: flex;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  box-sizing: border-box;
  border-bottom: solid 1px var(--color-timeline-border);
  z-index: 1;
}
.tweet-form__editor {
  display: flex;
  align-items: center;
}
.tweet-form__input {
  width: 100%;
  max-width: 100%;
  flex: auto;
  border-radius: 4px;
  padding: 4px;
  position: relative;
  background-color: #f5f8fa;
  box-sizing: border-box;
  border: solid 1px var(--color-timeline-border);
}
.tweet-form__counter {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.tweet-form__counter.tweet-form__counter_normal {
  color: var(--color-weak-text-link);
}
.tweet-form__counter.tweet-form__counter_over {
  color: var(--color-error);
}
.tweet-form__decorated-SCREENNAME,
.tweet-form__decorated-HASHTAG {
  color: var(--text-link-color);
}
.tweet-form__cancel-btn {
  flex: none;
  color: var(--color-light-inactive);
  cursor: pointer;
  margin-right: 8px;
  font-size: 1em;
}
.tweet-form__send-btn {
  flex: none;
  color: white;
  border-radius: 4px;
  margin-left: 8px;
  padding: 4px 8px;
  border: solid 1px;
  box-sizing: border-box;
}
.tweet-form__send-btn.tweet-form__send-btn_active {
  background-color: var(--color-twitter);
  border-color: var(--color-twitter-weak);
  cursor: pointer;
}
.tweet-form__send-btn.tweet-form__send-btn_active:hover {
  opacity: 0.8;
}
.tweet-form__send-btn.tweet-form__send-btn_inactive {
  background-color: var(--color-weak-text-link);
  border-color: #aaaaaa;
}
.tweet-form__send-btn.tweet-form__send-btn_inactive:hover {
  opacity: 0.8;
}
.tweet-form__in-reply-to {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f5f8fa;
  box-sizing: border-box;
  border: solid 1px var(--color-timeline-border);
}

.autocomplete__suggestions {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px var(--color-timeline-border);
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  min-width: 10rem;
  z-index: 1;
}
.autocomplete__suggestion-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
}
.autocomplete__suggestion-item:hover {
  background-color: #e0e0ee;
}
.autocomplete__suggestion-item.autocomplete__suggestion-item_focused {
  background-color: #e0e0ee;
}
.autocomplete__emoji-code {
  flex: none;
  min-width: 1.3rem;
  margin-right: 8px;
}
.autocomplete__emoji-text {
  flex: auto;
}
.autocomplete__screenname-icon {
  margin-right: 8px;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
}

.user-popup {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.user-popup__background {
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  overflow: hidden;
}
.user-popup__background img {
  object-fit: cover;
  width: 100%;
  max-height: 100px;
}
.user-popup__primary {
  display: flex;
  padding: 0 8px;
  align-items: center;
}
.user-popup__main-icon {
  margin-top: -32px;
}
.user-popup__description {
  padding: 16px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.user-popup__name {
  margin-top: 4px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.user-popup__user-name {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-popup__screenname {
  color: var(--text-link-color);
}
.user-popup__counts {
  display: flex;
}
.user-popup__count {
  flex: auto;
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-popup__count-name {
  color: var(--color-weak-text-link);
}
.user-popup__count-value {
  display: block;
  font-weight: bold;
  font-size: 1rem;
}
.user-popup__website,
.user-popup__location {
  display: flex;
  align-items: center;
}
.user-popup__footer {
  padding: 0 16px 8px;
}

.follow-button {
  color: white;
  padding: 4px;
  border-radius: 0.2em;
  box-sizing: border-box;
  margin-left: 4px;
  border: solid 1px;
  cursor: pointer;
}
.follow-button.follow-button_will-unfollow {
  background-color: #ff4f44;
  border-color: #ffe7e7;
}
.follow-button.follow-button_will-follow {
  background-color: var(--color-twitter);
  border-color: var(--color-twitter-weak);
}
.follow-button.follow-button_cannot-follow {
  background-color: #aaaaaa;
  border-color: #eeeeee;
}
.follow-button.follow-button_will-follow:hover,
.follow-button.follow-button_will-unfollow:hover {
  opacity: 0.8;
}

.rc-tooltip {
  opacity: 1;
}
.rc-tooltip-inner {
  padding: 0;
  border 0;
}
