@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

html {
  font-family: sans-serif;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.feed {
  width: 100%;
  box-sizing: border-box;
}
.feed-item-wrapper {
  margin: 0px;
  padding: 0px;
  border-bottom: solid 1px rgba(34, 36, 38, 0.15);
}
.feedNewItem-enter {
  opacity: 0.01;
}
.feedNewItem-enter.feedNewItem-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

