:root {
  --background-color-dark: #333333;
  --color-dark-active: #eeeeee;
  --color-dark-inactive: #888888;
  --text-link-color: #2185d0;
  --color-weak-text-link: #888888;
  --background-color-error: #ffc7c7;
  --color-error: #ff4f44;
  --background-color-info: #e4fdda;
  --color-info: #209010;
  --sidemenu-width: 80px;
  --color-twitter: #1da1f2;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
#yourfukurou {
  width: 100%;
  height: 100%;
}

.spacer {
  flex: auto;
}

.app-root {
  width: 100%;
  height: 100%;
  display: flex;
}
.app-root__main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding-top: 32px; /* for title bar inset */
  height: calc(100% - 32px);
  width: var(--sidemenu-width);
  color: #eeeeee;
  background-color: var(--background-color-dark);
  flex: none;
  align-items: center;
  overflow: hidden;
}
.side-menu > * {
  margin-top: 8px;
}
.side-menu__button {
  font-size: 30px;
  text-align: center;
  color: var(--color-dark-inactive);
  cursor: pointer;
}
.side-menu__button.side-menu__button_active {
  color: var(--color-dark-active);
}
.side-menu__settings {
  font-size: 20px;
  color: var(--color-dark-inactive);
  cursor: pointer;
}

.avatar {
  cursor: pointer;
}
.avatar__inner {
  border-radius: calc(100% / 6);
  background-color: white;
}

.external-link {
  cursor: pointer;
  color: var(--text-link-color);
  text-decoration: none;
}
.external-link:hover {
  text-decoration: underline;
}

.timeline {
  flex: auto;
  width: auto;
  height: 100%;
  overflow: auto;
  padding: 4px;
  background-color: white;
}

.tweet__body {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #d0d0d0;
}
.tweet__icon {
  flex: none;
  width: 56px;
}
.tweet__secondary {
  flex: none;
  width: 20%;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}
.tweet__secondary-screenname {
  flex: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-weak-text-link);
}
.tweet__secondary-name {
  flex: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.6rem;
  font-weight: bold;
}
.tweet__secondary-retweetedby {
  flex: none;
  margin-top: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-weak-text-link);
  font-size: 0.8rem;
}
.tweet__primary {
  flex: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.tweet__primary-footer {
  flex: none;
  display: flex;
  margin-top: 4px;
  font-size: 0.7rem;
}
.tweet__primary-created-at {
  flex: none;
  color: var(--color-weak-text-link);
  text-align: right;
  cursor: pointer;
  text-decoration: none;
}
.tweet__primary-conversation {
  flex: none;
  color: var(--color-weak-text-link);
}
.tweet__text {
  flex: auto;
}
.tweet__text-hashtag,
.tweet__text-mention,
.tweet__text-url {
  cursor: pointer;
  color: var(--text-link-color);
  text-decoration: none;
}
.tweet__text-hashtag:hover,
.tweet__text-mention:hover,
.tweet__text-url:hover {
  text-decoration: underline;
}
.tweet__quoted {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 4px 0 4px 4px;
  padding: 8px;
  border-radius: 8px;
}
.tweet__quoted-screenname {
  color: #777777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.tweet__quoted-text {
  color: #555555;
}
.tweet__quoted-text-hashtag,
.tweet__quoted-text-mention,
.tweet__quoted-text-url {
  cursor: pointer;
  color: #808080;
  text-decoration: none;
}

.tweet-actions {
  display: flex;
  color: var(--color-weak-text-link);
}
.tweet-actions > * {
  flex: auto;
  cursor: pointer;
  margin: 0 8px;
}
.tweet-actions__with-count {
  display: flex;
  min-width: 2em;
}
.tweet-actions__count {
  margin-left: 4px;
}

.message__body {
  width: calc(100% - var(--sidemenu-width));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 8px 0;
  z-index: 1;
  opacity: 0.7;
  margin-left: var(--sidemenu-width);
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
.message__body.message__body_error {
  color: var(--color-error);
  background-color: var(--background-color-error);
}
.message__body.message__body_info {
  color: var(--color-info);
  background-color: var(--background-color-info);
}
.message__text {
  flex: auto;
  text-align: center;
  font-size: 1rem;
}
.message__x-btn {
  flex: none;
  margin-right: 8px;
  font-size: 1rem;
}

.zigzag-separator__jagged {
  position: relative;
}
.zigzag-separator__jagged:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.zigzag-separator__top {
  width: 100%;
  height: 20px;
  background-color: #eeeeee
}
.zigzag-separator__middle {
  width: 100%;
  height: 5px;
  background-color: #cccccc;
}
.zigzag-separator__middle:before {
  background: linear-gradient(45deg, transparent 33.333%, #cccccc 33.333%, #cccccc 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #cccccc 33.333%, #cccccc 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}
.zigzag-separator__bottom {
  width: 100%;
  height: 10px;
  background: #eeeeee;
  border-bottom: 1px solid #d0d0d0;
}
.zigzag-separator__bottom:before {
  background: linear-gradient(45deg, transparent 33.333%, #eeeeee 33.333%, #eeeeee 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #eeeeee 33.333%, #eeeeee 66.667%, transparent 66.667%);
  background-size: 20px 40px;
}

.tweet-form {
  flex: none;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color-dark);
  padding: 8px;
  display: flex;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}
.tweet-form__editor {
  display: flex;
  align-items: center;
}
.tweet-form__input {
  background-color: white;
  width: 100%;
  max-width: 100%;
  flex: auto;
  border-radius: 4px;
  padding: 4px;
  position: relative;
}
.tweet-form__counter {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.tweet-form__counter.tweet-form__counter_normal {
  color: var(--color-weak-text-link);
}
.tweet-form__counter.tweet-form__counter_over {
  color: var(--color-error);
}
.tweet-form__hashtag {
  color: var(--text-link-color);
}
.tweet-form__decorated-SCREENNAME {
  color: var(--text-link-color);
}
.tweet-form__cancel-btn {
  flex: none;
  color: var(--color-dark-active);
  cursor: pointer;
  margin-right: 8px;
  font-size: 1em;
}
.tweet-form__send-btn {
  flex: none;
  color: white;
  border-radius: 4px;
  margin-left: 8px;
  padding: 4px 8px;
  border: solid 1px;
  box-sizing: border-box;
}
.tweet-form__send-btn.tweet-form__send-btn_active {
  background-color: var(--color-twitter);
  border-color: #8dd1ff;
  cursor: pointer;
}
.tweet-form__send-btn.tweet-form__send-btn_active:hover {
  opacity: 0.8;
}
.tweet-form__send-btn.tweet-form__send-btn_inactive {
  background-color: var(--color-weak-text-link);
  border-color: #aaaaaa;
}
.tweet-form__send-btn.tweet-form__send-btn_inactive:hover {
  opacity: 0.8;
}
.tweet-form__in-reply-to {
  display: flex;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: white;
}

.autocomplete__suggestions {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  min-width: 10rem;
  z-index: 1;
}
.autocomplete__suggestion-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
}
.autocomplete__suggestion-item:hover {
  background-color: #e0e0ee;
}
.autocomplete__suggestion-item.autocomplete__suggestion-item_focused {
  background-color: #e0e0ee;
}
.autocomplete__emoji-code {
  flex: none;
  min-width: 1.3rem;
  margin-right: 8px;
}
.autocomplete__emoji-text {
  flex: auto;
}
.autocomplete__screenname-icon {
  margin-right: 8px;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
}
